<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<title>Day</title>
	<style type="text/css">
		.day p{
			padding: 20px;
			color: #999;
		}
	</style>
</head>
<body>
    <div class="day">
    	<% include include/common-header.html %>
    	<p>每天领签到福利，签满七天抽大奖</p>
    	<ul>
    		<li>
    			<div class="rectangle"></div>
    		</li>
    	</ul>
    </div>

</body>
</html>