<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<title>regtest</title>
</head>
<body>
    <form action="/ucenter" method="post">
    	<input type="text" name="info" />
    	<a href="/testmiddle"><input type="submit" name="submit" value="submit"></a>
    </form>
</body>
</html>